@media screen and (max-width: 450px) {
    .block-1 {
        background-color: #F3F3F3;
        color: #414141;
        margin-top: 60px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .main-page-blog {
        /* background-color: #ff6a45; */
        height: 1000px;
        margin-bottom: 30px;
    }

    .homepage-sections--title {
        font-size: 18px;
        width: 100%;
        text-align: center;
        display: inline-block;
        position: relative;
        margin-bottom: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
    }

    .instruction-text-wrapper {
        margin-top: 50px;
        padding: 15px;
        text-align: start;
    }

    .main-page-blog-wrapper {
        padding: 15px;
    }

    .main-page-blog-carts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-page-blog-carts-item {
        margin-right: 30px;
        width: 100%;
    }

    .main-page-blog-img {
        width: 100%;
        height: auto;
    }

    .hero__media iframe {
        position: absolute;
        /* top: 0; */
        left: 0;
        width: 100%;
        left: 0%;
        max-width: none;
    }
}